---
layout: layouts/base.njk
eleventyNavigation:
  key: Timeline
  order: 4
---

<h2>Timeline</h2>
<div id="timeline">
	<table>
		<thead>
			<tr>
				<th>Anno</th>
				<th>Eventi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1132</td>
				<td>Gregorio Rusca nasce a Como, ultimogenito del console Bernardo Rusca.</td>
			</tr>
			<tr>
				<td>1176</td>
				<td>Gregorio partecipa alla Battaglia di Legnano tra le fila dell'Imperatore Barbarossa. Dopo la rovinosa sconfitta, viene imprigionato dai Milanesi.</td>
			</tr>																			
		</tbody>
	</table>
</div>