---
layout: layouts/base.njk
eleventyNavigation:
  key: Timeline
  order: 4
---

<h2>Timeline</h2>
<div id="timeline">
	<table>
		<thead>
			<tr>
				<th>Anno</th>
				<th>Eventi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1142</td>
				<td>Gregorio Rusca nasce a Como, ultimogenito del console Bernardo Rusca.</td>
			</tr>
			<tr>
				<td>1164</td>
				<td>Gregorio sposa Isabella Odescalchi.</td>
			</tr>
			<tr>
				<td>1166</td>
				<td>Nasce Giovanni Rusca, primogenito di Gregorio e Isabella.</td>
			</tr>                                 
			<tr>
				<td>1176</td>
				<td>Gregorio partecipa alla Battaglia di Legnano tra le fila dell'Imperatore Barbarossa. Dopo la rovinosa sconfitta, viene imprigionato dai Milanesi.
				<br><br>   
				Cinque giorni dopo, viene liberato e tramutato in vampiro dalla misteriosa Eleonora.
				</td>
			</tr>
			<tr>
				<td>1198</td>
				<td>Morte di Isabella.
				</td>
			</tr>
			<tr>
				<td>1210</td>
				<td>Gregorio fa mettere in scena il proprio funerale: già da tempo si è ritirato a vita privata per nascondere la sua eterna giovinezza. Da qui in poi, agirà sempre con più discrezione come eminenza grigia alle spalle della sua famiglia.
				</td>
			</tr>
			<tr>
				<td>1220</td>
				<td>Morte di Giovanni.
				</td>
			</tr>
			<tr>
				<td>1225</td>
				<td>Nasce Loterio Rusca, pronipote di Gregorio.
				</td>
			</tr>
			<tr>
				<td>1279</td>
				<td>Il vescovo Giovanni degli Avvocati, oppositore politico dei Rusca, si rivela essere un cacciatore di vampiri.
				</td>
			<tr>
			<tr>
				<td>1282</td>
				<td>I Rusca, guidati da Loterio e i poteri sovrannaturali di Gregorio, assaltano il palazzo vescovile depredandolo, dandogli fuoco e profanandolo in un terrificante rito di sangue. Il vescovo riesce a sopravvivere e riparare a Milano.
				</td>
			<tr>
			<tr>
				<td>1291</td>
				<td>Morte di Loterio Rusca. Il vescovo Giovanni degli Avvocati rientra trionfalmente a Como, mentre Gregorio decide di abbandonare la città per stabilirsi a Genova.
				</td>
			<tr>
			<tr>
				<td>1293</td>
				<td>Morte del vescovo Giovanni degli Avvocati.
				</td>
			<tr>
			<tr>
				<td>1301</td>
				<td>Nascita di Simone Boccanegra. Gregorio, che negli ultimi anni ha assoggettato la famiglia Boccanegra, agisce come suo tutore.
				</td>
			<tr>
			<tr>
				<td>1339</td>
				<td>Manovrato da Gregorio, Simone Boccanegra diviene il primo Doge di Genova.
				</td>
			<tr>
			<tr>
				<td>1344</td>
				<td>Simone Boccanegra fugge a Pisa dopo una congiura dei nobili ai suoi danni. Gregorio decide di abbandonarlo, inscenando la propria morte e cambiando nome in Leonardo di Famagosta.
				</td>
			<tr>																								
			<tr>
				<td>1372</td>
				<td>Presa Genovese di Famagosta, conquistata grazie all'ausilio di Leonardo. Berengario riappare come non-morto, ma Leonardo decide di porre fine alla sua esistenza una volta per tutte.
				</td>
			<tr>
			<tr>
				<td>1473</td>
				<td>Leonardo forma un Legame di Sangue che imprigiona la Regina di Cipro (Caterina Corner) e tutti gli appartenenti della sua nobile famiglia veneziana.
				</td>
			<tr>
			<tr>
				<td>1489</td>
				<td>Seguendo Caterina, Leonardo si stabilisce a Venezia.
				</td>
			<tr>
			<tr>
				<td>1526</td>
				<td>Leonardo viene smascherato come vampiro da un gruppo di cacciatori: costretto a fuggire, si imbarca segretamente nella seconda spedizione di Sebastiano Caboto, assumendo il nome Paolo Vedelago.
				</td>
			<tr>
			<tr>
				<td>1528</td>
				<td>Paolo raggiunge il Sudamerica.
				</td>
			<tr>
			<tr>
				<td>1573</td>
				<td>Paolo contribuisce alla fondazione della città di Córdoba, in Argentina.
				</td>
			<tr>
			<tr>
				<td>1615</td>
				<td>Braccato dai Gesuiti, Paolo è costretto a fuggire di nuovo.
				</td>
			<tr>																																															
		</tbody>
	</table>
</div>