---
layout: layouts/base.njk
eleventyNavigation:
  key: Timeline
  order: 4
---

<h2>Timeline</h2>
<div id="timeline">
	<table>
		<thead>
			<tr>
				<th>Anno</th>
				<th>Eventi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1142</td>
				<td>Gregorio Rusca nasce a Como, ultimogenito del console Bernardo Rusca.</td>
			</tr>
			<tr>
				<td>1164</td>
				<td>Gregorio sposa Isabella Odescalchi.</td>
			</tr>
			<tr>
				<td>1166</td>
				<td>Nasce Giovanni, primogenito di Gregorio e Isabella.</td>
			</tr>                                 
			<tr>
				<td>1176</td>
				<td>Gregorio partecipa alla Battaglia di Legnano tra le fila dell'Imperatore Barbarossa. Dopo la rovinosa sconfitta, viene imprigionato dai Milanesi.
				<br><br>   
				Cinque giorni dopo, viene liberato e tramutato in vampiro dalla misteriosa Eleonora.
				</td>
			</tr>																			
		</tbody>
	</table>
</div>