---
layout: layouts/base.njk
---

Blog di <a href="https://andreacorinti.com/" alt="Andrea Corinti Website">Xab</a> per tenere traccia delle avventure del suo personaggio di <a href="https://narrattiva.it/it/1000-anni-da-vampiro/" alt="1000 Anni da Vampiro | Narattiva">1000 Anni da Vampiro</a> 

{{ content | safe }}
